[submodule "jupyterhub"]
	path = jupyterhub
	url = https://github.com/sofwerx/jupyterhub
[submodule "jupyter-notebook/nbserverproxy"]
	path = jupyter-notebook/nbserverproxy
	url = https://github.com/sofwerx/nbserverproxy
